/* css reset */
*,
*::before,
*::after {
  /* Apply box-sizing to pseudo-elements as well */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Gruppo", sans-serif; /* Define your base font */
}

body {
  min-height: 100vh; /* Ensure body takes full viewport height */
  line-height: 1.5; /* Set a default line height */
  -webkit-font-smoothing: antialiased; /* Improve font rendering on WebKit */
  background-color: #d9d9d9 !important;
}

/* Example: Reset text-decoration specifically for links */
a {
  text-decoration: none;
  color: inherit; /* Optional: make links inherit text color */
}
/* css reset  ends here*/

/* navbar */
.navbar {
  background-color: #0d0d0d;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.logo-img {
  width: 95px;
}

/* call to action image basically the background image close to the navbar
it was 2 image cover i deleted 1 that's why it says cover2 ignore that-- note this comment might update */
.cta-cover {
  background-image: url("portfolioPhotos/cta-cover2.jpg");
  background-size: cover;
  background-position: center;
}

/* cta header */
.cta-cover h1 {
  position: relative;
  z-index: 2; /* Ensure the text is above the overlay */
}

/* changing the main background and adding a black text color to it */
main {
  background-color: #d9d9d9;
  color: #0d0d0d;
}

/* making the navbar more presentable by adding some few stuff like hovering and underline*/
.navbar-nav a:hover {
  color: #d9d9d9;
  text-decoration: underline solid #d9d9d9;
}

/* changing the background color for the progress bar */
.progress-bar {
  background-color: #595959;
}
/* adding media query to the navbar so it will be center on the smaller screen */
@media screen and (max-width: 760px) {
  .navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  /* navbar <a> links */
  .navbar-nav a:hover {
    color: #d9d9d9;
    text-decoration: underline solid #d9d9d9;
  }
}
